doctype html
html
  head
    title #{locals.title}
    meta(charset="utf-8")

    base(href=".")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    style.
        html, body {
            height: 100%;
            background-color: red;
        }

  body

    h1 #{locals.title}

    app-root

    errors

    script.
      var errors = document.getElementsByTagName('errors')[0]
      window.onerror = function (msg) {
        var error = document.createElement('error')
        error.appendChild(document.createTextNode(msg))
        errors.appendChild(error)
      }
